{# template/customer/book_card.jinja #}
<div class="book-card">
    
    {# Cover image (click to navigate to /book/:book_id) #}
    <a href="/book/{{ book.book_id }}">
        <img src="{{ url_for('static', path='/book.png') }}" alt="{{ book.title }}">
    </a>
    
    {# Book title (click to navigate to /book/:book_id) #}
    <a href="/book/{{ book.book_id }}" class="book-title">{{ book.title }}</a>
	
    <br>

    {# Author #}
    <span class="book-author">{{ book.author }}</span>
    
    {# Price #}
    <div class="book-price">$ {{ book.min_price }}</div>
    
    {# Add to cart button (requires JavaScript handling) #}
    <button class="add-to-cart-btn" 
        data-book-id="{{ book.book_id }}"
        data-min-price="{{ book.min_price }}"
        data-bookstore-id="{{ book.bookstore_id }}"> 
        Add to Cart
    </button>
</div>