services:
  postgres:
    image: postgres:15.15-alpine3.22
    ports:
      - 5432:5432
    environment:
      - POSTGRES_PASSWORD=postgres
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
volumes: {"data01", "certs"}
