{% extends "admin/base.jinja" %}

{% block content %}
<div class="card">
    <h2>Admin Profile</h2>
    <div style="line-height: 2;">
        <p><strong>Admin Account:</strong> {{ admin.account }}</p>
        <p><strong>Admin ID:</strong> {{ admin.account }}</p> <p><strong>Admin Name:</strong> {{ admin.name }}</p>
    </div>
</div>
{% endblock %}